<!DOCTYPE html>
<html>
<head>
{include file="public:title"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">添加成果视频</div>
          <div class="layui-form layui-card-body" pad15>
            <div class="layui-form-item">
              <label class="layui-form-label" for="name">视频名称</label>
              <div class="layui-input-block">
                <input type="text" name="name" id="name" lay-verify="required" class="layui-input">
              </div>
  			</div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="gain_id">成果名称</label>
              <div class="layui-input-block">
                <select name="gain_id" id="gain_id">
                  {foreach $gain as $g}
                  <option value="{$g.id}">{$g.name}</option>
                  {/foreach}
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="expert_id">专家名称</label>
              <div class="layui-input-block">
                <select name="expert_id" id="expert_id">
                  {foreach $expert as $e}
                  <option value="{$e.id}">{$e.name}</option>
                  {/foreach}
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="video">视频地址</label>
              <div class="layui-input-block">
                <button type="button" style="margin-bottom:1%;" id="video" class="layui-btn"><i class="layui-icon">&#xe67c;</i>上传</button>
                <div id="Videos" style="display: none;">
                </div>
              </div>
            </div>
            <div class="layui-form-item videoProgress" style="display:none;">
              <label for="Video" class="layui-form-label"></label>
              <div class="layui-input-block" style="width:200px;">
                <div class="layui-progress" lay-filter="videoProgress" lay-showPercent="true">
                  <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                  <label class="layui-form-label"><button class="layui-btn" lay-submit lay-filter="add">添加</button></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layui.use(['form','upload','laydate','layedit'], function(){
      var form = layui.form,upload = layui.upload;
      upload.render({
        elem: '#video',
        url: '{:url("AjaxAction/upload")}',
        accept: 'video',
        size:{$conf['maxfile']},
        choose:function(obj){
          element.progress('videoProgress', 0);
        },
        progress: function(n, elem){
          $('.videoProgress').show();
          var percent = n + '%' //获取进度百分比
          element.progress('videoProgress', percent); //可配合 layui 进度条元素使用
        },
        done: function (res) {
          //如果上传失败
          if (res.status == 1) {
            $('#Videos').append('<div style="margin-left: 10px;"><div style="margin-bottom: 10px;"><input type="hidden" name="video" value="'+res.data+'"><video src="' + res.data + '" style="width: 200px;" controls="controls"></video></div></div>');
            $('#Videos').show();
            return layer.msg("上传成功");
          }else{
            return layer.msg('上传失败');
          }
        }
      });
      form.on('submit(add)', function(data){
        $.post('{:url("gainVideo/add")}',data.field,function (res) {
          if (res.icon == 6){
            layer.msg(res.msg,{icon: res.icon,time:1000},function(){
              window.parent.location.reload();
            });
          } else {
            layer.msg(res.msg,{icon: res.icon,time:1000},function(){
              window.location.reload();
            });
          }
        },'json');
        return false;
      });
    });
  </script>
</body>
</html>
