<!DOCTYPE html>
<html>
<head>
  {include file="public:title"/}
  <style media="screen">
    .layui-form-select{
      width: 165px;
    }
    .layui-form-item .layui-input-inline{
      width: auto;
    }
  </style>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">编辑企业</div>
        <div class="layui-form layui-card-body" pad15>
          <input type="hidden" name="id" value="{$field.id}">
          <div class="layui-form-item">
            <label class="layui-form-label" for="credit_id">信用代码</label>
            <div class="layui-input-block">
              <input type="text" name="credit_id" value="{$field.credit_id}" id="credit_id" lay-verify="required" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="name">企业名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" value="{$field.name}" id="name" lay-verify="required" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="card_id">身份证编号</label>
            <div class="layui-input-block">
              <input type="text" name="card_id" value="{$field.card_id}" id="card_id" lay-verify="required" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">资质类型</label>
            <div class="layui-input-inline">
              <input type="radio" name="type" title="企业工商营业执照" value="1" {if condition="$field.type == 1"}checked{/if} class="layui-input">
              <input type="radio" name="type" title="其他资质证件" value="2" {if condition="$field.type == 2"}checked{/if} class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="desc">简介</label>
            <div class="layui-input-block">
              <textarea name="desc" id="desc" class="layui-textarea">{$field.desc}</textarea>
            </div>
          </div>
<!--          <div class="layui-form-item">-->
<!--            <label class="layui-form-label" for="address">企业地址</label>-->
<!--            <div class="layui-input-block">-->
<!--              <input type="text" name="address" value="{$field.address}" id="address" class="layui-input">-->
<!--            </div>-->
<!--          </div>-->
          <div class="layui-form-item">
            <label class="layui-form-label" for="certificate">资质文件</label>
            <div class="layui-input-block">
              <button type="button" style="float:left;margin-right:1%;" id="certificate" class="layui-btn"><i class="layui-icon">&#xe67c;</i>上传</button>
              <input type="text" value="{$field.certificate}" style="width:53%;float:left;display:none;background-color:#dcdcdc;" readonly name="certificate" class="layui-input">
              {if condition="empty($field.certificate)"}
              <div id="certificate_img" style="margin-top: 10px;">

              </div>
              {else}
              <div id="certificate_img" style="margin-top: 10px;">
                <img src="{$field.certificate}" style="height: 100px;" alt="">
              </div>
              {/if}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="tel">法人电话</label>
            <div class="layui-input-block">
              <input type="text" name="tel" value="{$field.tel}" id="tel" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="corp">企业法人</label>
            <div class="layui-input-block">
              <input type="text" name="corp" value="{$field.corp}" id="corp" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="validity_start">有效期开始</label>
            <div class="layui-input-block">
              <input type="text" name="validity_start" value="{$field.validity_start}" id="validity_start" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label" for="validity_end">有效期结束</label>
            <div class="layui-input-block">
              <input type="text" name="validity_end" value="{$field.validity_end}" id="validity_end" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">注册状态</label>
            <div class="layui-input-inline">
              <input type="radio" name="status" title="已申请" value="1" {if condition="$field.status == 1"}checked{/if} class="layui-input">
              <input type="radio" name="status" title="已通过" value="2" {if condition="$field.status == 0"}checked{/if} class="layui-input">
              <input type="radio" name="status" title="未通过" value="3" {if condition="$field.status == 0"}checked{/if} class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <label class="layui-form-label"><button class="layui-btn" lay-submit lay-filter="edit">编辑</button></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use(['form','upload','laydate','layedit'], function(){
    var form = layui.form,laydate = layui.laydate,upload = layui.upload;
    laydate.render({
      elem: "#validity_start",
      type: "datetime"
    });
    laydate.render({
      elem: "#validity_end",
      type: "datetime"
    });
    //多图上传实例
    upload.render({
      elem: '#certificate',
      url: '{:url("AjaxAction/upload")}',
      accept:"images",
      acceptMime: 'image/*',
      exts:"jpg|png|gif|bmp|jpeg",
      auto:true,
      size:{$conf['maxfile']},
      drag:false,
      before: function(obj) {
        layer.msg('上传中...', {icon: 16,shade: 0.01,time: 0})
      },
      done: function(res) {
        layer.close(layer.msg('上传成功！'));
        $('input[name=certificate]').val(res.data);
        $('#certificate_img').html('<img style="width: 100%;" src="'+res.data+'" />');
      }
      ,error: function(){
        layer.msg('上传错误！');
      }
    });
    form.on('submit(edit)', function(data){
      $.post('{:url("enterprise/edit")}',data.field,function (res) {
        if (res.icon == 6){
          layer.msg(res.msg,{icon: res.icon,time:1000},function(){
            window.parent.location.reload();
          });
        } else {
          layer.msg(res.msg,{icon: res.icon,time:1000},function(){
            window.location.reload();
          });
        }
      },'json');
      return false;
    });
  });
</script>
</body>
</html>
